<div class="profile-section" style="text-align: center;">
  <img src="/assets/images/my_selfie.jpg" alt="Profile" style="border-radius: 50%; width: 150px; height: 150px;">
  <h3 style="margin-top: 12px;">Han Jun Ko</h3>
  <p>Master’s student at Yonsei Univ.</p>

  <ul style="list-style: none; padding: 0; margin-top: 12px; display: inline-block; text-align: left;">
    <li style="margin-top: 10px;"><i class="fas fa-map-marker-alt"></i> Seoul, Korea</li>
    <li style="margin-top: 10px;"><i class="fas fa-university"></i> B.S. & B.A. at Yonsei Univ.</li>
    <li style="margin-top: 10px;"><i class="fas fa-graduation-cap"></i> EEE & Applied Statistics</li>
    <li style="margin-top: 10px;"><i class="fab fa-github"></i> <a href="https://github.com/jason1ko" target="_blank">Github</a></li>
    <li style="margin-top: 10px;"><i class="fas fa-envelope"></i> <a href="mailto:jason801601@naver.com">jason801601@naver.com</a> </li>
  </ul>
</div>

