---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.masthead {
  position: relative; /*fixed; */
  top: 0;
  left: 250px; /* 사이드바 크기 */
  width: calc(100% - 250px);
  z-index: 1000;
}

.site-header {
  width: 100%;
}

/* 사이드바 스타일 */
.sidebar-left {
  position: fixed;
  top: 0; /* 상단 바 높이만큼 아래로 내림, 90px; */
  left: 0;
  width: 250px; /* 사이드바 너비 */
  height: 100vh; /* 전체 높이에서 상단 바 높이를 빼서 맞춤 calc(100vh - 90px); */
  background-color: #ffffff;
  padding: 10px 20px; /* 위쪽에 여백 추가 */
  overflow-y: auto; /* 스크롤 가능하도록 설정 */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.category-title {
  font-size: 12px; /* 기존보다 작은 크기로 조정 */
  font-weight: bold; /* 볼드 유지 */
}

.post-item {
  font-size: 12px;
  margin-left: 10px; /* 제목을 오른쪽으로 이동 */
}

/* 본문 내용 위치 조정 */
.main-content {
  margin-top: 50px;
  margin-left:  500px; /* 사이드바 너비 + 여백 */
  margin-right: 250px; /* 오른쪽 여백 추가 */
  padding: 20px;
  /*max-width: 1000px;*/
  font-size: 14px; 
}

/* 메인 화면에서만 적용 */
.home-content {
  margin-top: 50px;
  margin-left:  500px; /* 사이드바 너비 + 여백 */
  margin-right: 150px; /* 오른쪽 여백 추가 */
  padding: 5px;
  /*max-width: 1000px;*/
  font-size: 14px; 
}


.page__footer {
  background-color: transparent;
  padding: 0;
  height: 0;
  border: none;
}


.table-wrapper {
  overflow-x: auto;
  margin-bottom: 1rem;
}

/* 테이블 자체 스타일은 유지 */
table {
  width: 100%;
  border-collapse: collapse;
}

pre {
  background-color: #2d2d2d; /* 어두운 배경 유지 */
  color: #b0b0b0; /* 코드 글자 색을 연한 회색으로 변경 */
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
}


code {
  background-color: #2d2d2d; /* 어두운 배경 유지 */
  color: #b0b0b0; /* 회색 코드 텍스트 */
  padding: 2px 5px;
  border-radius: 3px;
}
